---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import categories from '../../data/categories.json';
import categoryMapping from '../../data/categoryMapping';

export async function getStaticPaths(){
    return categories.map(category => ({
        params: { category: category.slug }
    }));
}

const { category } = Astro.params;

import products from '../../data/products.json';

const filteredProducts = products.filter(product => product.categorySlug === category);
const readableCategory = categoryMapping[category] || category;
---
<Layout title="Productos">
    <NavBar/>
    <section class="relative bg-black">
        <img src="/images/cta.png" alt="Breadcrumb Image" class="w-full h-60 object-cover opacity-25" />
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="bg-white bg-opacity-85 p-4 rounded-lg shadow-lg">
                <nav class="flex space-x-4 text-gray-600">
                    <a href="/" class="hover:text-green-600">Inicio</a>
                    <span>/</span>
                    <a href="/productos" class="hover:text-green-600">Productos</a>
                </nav>
            </div>
        </div>
    </section>
    <section class="py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <div class="mb-8 text-center py-12">
                <h2 class="text-3xl font-bold text-green-900">{readableCategory}</h2>
                <div class="text-center mt-8">
                    <a href="/productos" class="text-green-900 border border-green-900 px-4 py-2 rounded hover:bg-green-900 hover:text-white transition duration-300">
                        Volver
                    </a>
                </div>
            </div>
            <div class="text-center py-4">
                {filteredProducts.length === 0 && (
                    <p class="text-lg text-red-600 font-semibold">No hay productos en esta categoría</p>
                )}
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                {filteredProducts.length > 0 ? (
                    filteredProducts.map((product) => (
                        <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 hover:shadow-lg">
                            <div class="aspect-w-1 aspect-h-1">
                                <img src={product.imageUrl} alt={product.name} class="w-full h-full object-cover" loading="lazy" />
                            </div>
                            <div class="p-4 sm:p-6">
                                <h3 class="text-lg text-center sm:text-xl text-green-900 font-semibold mb-2">
                                    {product.name} <br /> {product.name2}
                                </h3>
                                <p class="text-sm text-center text-gray-600 mb-4 leading-tight">
                                    {product.description}
                                </p>
                                <a href="#" data-product-name={`${product.name} ${product.name2}`} class="whatsapp-button block text-center bg-green-900 text-white px-4 py-2 rounded-full hover:bg-green-950 transition duration-300 mt-4 text-sm">
                                    Solicitar Cotización
                                    <i class="fa-brands fa-whatsapp ml-2"></i>
                                </a>
                            </div>
                        </div>
                    ))
                ) : null}
                {/*Este bloque no necesita renderizarse si no hay productos */}
            </div>
        </div>
    </section>
</Layout>
<script>
    const whatsappButtons = document.querySelectorAll('.whatsapp-button');
    const phoneNumber = '+51995374449';

    whatsappButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const productName = button.getAttribute('data-product-name');
            const message = `Hola *Estructura Metálica Ato & Peña*, estoy interesado en el producto: *${productName}*. Me gustaría solicitar una cotización.`;
            const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
            window.open(whatsappUrl, '_blank');
        });
    });
</script>
<style>
    @keyframes arrow-move {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(4px);
        }
        50% {
            transform: translateX(0);
        }
        75% {
            transform: translateX(4px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .group-hover .animate-arrow-move {
        animation: arrow-move 1s ease-in-out infinite;
    }
</style>