---
import Loader from '../components/Loader.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const metaDescription = description && description.trim() !== "" ? description : "Somos expertos en estructuras metálicas de alta calidad, proporcionando seguridad y confianza en cada proyecto a nivel nacional.";

const siteName = "Estructura Metálica Ato & Peña";

import '@fortawesome/fontawesome-free/css/all.min.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="estructuras metálicas, experiencia en estructuras metálicas, seguridad en entregas, confianza en productos metálicos, empresa de estructuras metálicas, soluciones metálicas, proyectos de construcción, estructuras metálicas a nivel nacional">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow">
		<meta property="og:title" content={title} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:type" content="website" />

		<title>{title} | {siteName}</title>
		<link rel="stylesheet" href="/styles/global.css">
	</head>
	<body>
		<Loader/>
		<slot />
	</body>
</html>
<script src="/scripts/loader.js" defer></script>